{% extends "main_choinki/index.html" %}

{% block title %}Zamówienie{% endblock %}

{% block content %}
<form method="POST">
  {% csrf_token %}
  <div class="container d-flex justify-content-center" id="login-border">
    <div class="container-login">
        <h1>Dane kupującego</h1>
        <p>Wypełnij poniższe pola:</p>
        <hr>
        <div class="name-info">
            <div class="d-column" id="col-name">
                <label for="firstname"><b>Imię</b></label>
                <input type="text" name="first_name" id="first-name" placeholder="Podaj imię" required>
            </div>
            <div class="d-column" id="col-surname">
                <label for="lastname"><b>Nazwisko</b></label>
                <input type="text" name="last_name" id="last-name" placeholder="Podaj nazwisko" required>
            </div>
        </div>
        <label for="telephone"><b>Telefon (opcjonalnie)</b></label>
        <input type="text" name="phone_number" id="telephone" placeholder="Podaj numer telefonu">
        <label for="home"><b>Miejsce zamieszkania (opcjonalnie)</b></label>
        <input type="text" name="home" id="home" placeholder="Podaj miejsce zamieszkania">
        <hr>
        <br>
        <h1>Dane dotyczące drzew</h1>
        <p>Wypełnij poniższe pola:</p>
        <hr>
        <div class="d-flex justify-content-center">
            <label for="tree-quantity" class="tree-quantity-label">
                <b>Ile drzewek w zamowieniu?</b>
            </label>
            <input type="text" name="quantity" id="quantity" class="quantity" value="1">
        </div>
        <button type="submit" class="nextbtn dalej">Dalej</button>
    </div>
  </div>
</form>

{%endblock%}