{% extends "main_choinki/index.html" %}

{% block title %}Edycja klienta{% endblock %}

{% block content %}
<form method="POST">
  {% csrf_token %}
  <div class="container d-flex justify-content-center" id="login-border">
    <div class="container-login">
        <h1>Dane kupującego</h1>
        <p>Wypełnij poniższe pola:</p>
        <hr>
        <div class="d-flex">
            <div class="d-column" id="col-name">
                <label for="firstname"><b>Imię</b></label>
                <input type="text" name="first_name" id="first-name" placeholder="Podaj imię" value="{{customer.first_name}}" required>
            </div>
            <div class="d-column" id="col-surname">
                <label for="lastname"><b>Nazwisko</b></label>
                <input type="text" name="last_name" id="last-name" placeholder="Podaj nazwisko" value="{{customer.last_name}}" required>
            </div>
        </div>
        <label for="telephone"><b>Telefon (opcjonalnie)</b></label>
        {% if customer.phone_number|length > 1 %}
            <input type="text" name="phone_number" id="telephone" placeholder="Podaj numer telefonu" value="{{customer.phone_number}}">
        {% else %}
            <input type="text" name="phone_number" id="telephone" placeholder="Podaj numer telefonu">
        {% endif %}
        <label for="home"><b>Miejsce zamieszkania (opcjonalnie)</b></label>
        <input type="text" name="home" id="home" placeholder="Podaj miejsce zamieszkania" value="{{customer.home}}">
        <hr>
        <button type="submit" class="nextbtn dalej">Zmień</button>
    </div>
  </div>
</form>

{%endblock%}