{% extends 'main_choinki\index.html' %}
{% block title %}Wyszukiwarka{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center dashboard" id="login-border">
    <div class="container-login">
        <h1>Wyszukaj</h1>
        <form method="GET">
            <div class="row">
                <div class="col">
                    <label for="first_name">Imię</label>
                    <input type="text" class="form-control" name="first_name" placeholder="wyszukaj">
                </div>
                <div class="col">
                    <label for="last_name">Nazwisko</label>
                    <input type="text" class="form-control" name="last_name" placeholder="wyszukaj">
                </div>
            </div>
            <hr>
            <div class="row">
                <b>Dodatkowe</b>
                <div class="col">
                    <label for="since">Od</label>
                    <input type="date" class="form-control" name="since" placeholder="Od">
                </div>
                <div class="col">
                    <label for="until">Do</label>
                    <input type="date" class="form-control" name="until" placeholder="Do">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row">
                        <label for="status">Wybierz status</label>
                    </div>
                    <div class="row status-container">
                        <select name="status" class="status">
                            <option value="none" selected disabled hidden>Wybierz</option>
                            <option value="1">zapłacone</option>
                            <option value="2">zarezerwowane</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <label for="home">Miejsce zamieszkania</label>
                    <input type="text" class="form-control" name="home" placeholder="wyszukaj">
                </div>
            </div>
            <button type="submit" class="registerbtn">Potwierdź</button>
        </form>
        <hr>
        {% if orders|length >= 1 %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Nr.</th>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th>Cena</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                    {%for order in orders%}
                    <tr>
                        <td>{{order.id}}</td>
                        <td>{{order.customer.first_name}}</td>
                        <td>{{order.customer.last_name}}</td>
                        <td>{{order.get_total_cost}}</td>
                        {% if order.status == "1" %}
                            <td><span class="badge bg-success">{{order.get_status_display}}</span></td>
                        {% else %}
                            <td><span class="badge bg-warning">{{order.get_status_display}}</span></td>
                        {% endif %}                       
                        <td><a href="{% url 'order-info' order.id%}"><button class="btn btn-sm btn-primary">Więcej</button></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
          <p>Tutaj pojawią się dane po wyszukaniu :)</p>
        {% endif %}
    </div>
</div>
{% endblock %}